<form action="{% url 'login' %}" method="post">
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}

    <label> Username</label>
    <input type="text" name="username" placeholder="Username" required>

    <label> Password</label>    
    <input type="password" name="password" placeholder="Password" required>


    <button type="submit">Login</button>    
</form>