{% extends "base/includes/header.html" %}
{% block content %}

<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Users</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'users'  %}"><i class="feather icon-user"></i></a></li>
                            <li class="breadcrumb-item"><a href="{% url 'users'  %}">Users</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    
                </div>
                {% endfor %}
            {% endif %}
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <button type="button" class="btn  btn-primary" data-toggle="modal" data-target="#exampleModalLive">Add User</button>
                    </div>
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    {% for user in users %}  
                                    <tr>
                                        <td>{{ user.id }}</td>
                                        <td>{{ user.first_name }}</td>
                                        <td>{{ user.last_name}}</td>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.email }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="exampleModalLive" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
            <div class="modal-body">
                <form action="{% url 'create_user' %}" method="post">
                    {% csrf_token %}
                    <label>First Name </label>
                    <input type="text" name="first_name" class="form-control">

                    <label>Last Name </label>
                    <input type="text" name="last_name" class="form-control">

                    <label>Email</label>
                    <input type="text" name="user-email" class="form-control">

                    <label>Username</label>
                    <input type="text" Name="username" class="form-control">

                    <div class="modal-footer">
                        <button type="button" class="btn  btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn  btn-primary">Submit</button>
                    </div>
                <form>
            </div>
           
        </div>
    </div>
</div>
{% endblock %}