{% extends "store/includes/header.html" %}
{% load static %}
{% block content %}

<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Employees</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->

        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- customer project start -->
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal-report">
                            <i class="feather icon-plus"></i> Add Employee
                        </button>
                    </div>

                    <div class="table-responsive">
                        <table id="report-table" class="table table-bordered table-striped mb-0">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th> Status <th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for employee in employees%}
                                <tr>
                                    <td>{{ employee.id }}</td>
                                    <td>{{ employee.first_name }}</td>
                                    <td>{{ employee.last_name }} </td>
                                    <td>
                                        {{ employee.email }}
                                    </td>
                                    <td>
                                         {% if employee.is_active %}
                                            <button class="btn btn-success"> Active</button>
                                        {% else %}
                                            <button class="btn btn-danger"> Active</button>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="#!" class="btn btn-info btn-sm"
                                         data-bs-toggle="modal" data-bs-target="#modal-edit-user{{ employee.id}}">
                                            <i class="feather icon-edit"></i>&nbsp;Edit
                                        </a>
                                       
                                            {% if employee.is_active %}
                                                <a href="{% url 'update_user_status' employee.id 'false' %}" class="btn btn-danger btn-sm">
                                                    <i class="feather icon-trash-2"></i>&nbsp;Disable
                                                </a>
                                            {% else %}
                                                <a href="{% url 'update_user_status' employee.id 'true' %}" class="btn btn-success btn-sm">
                                                    <i class="feather icon-check"></i>&nbsp;Enable
                                                </a>
                                            {% endif %}

                                    </td>
                                </tr>
                                <div class="modal fade" id="modal-edit-user{{ employee.id}}" tabindex="-1" aria-labelledby="modalReportLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        
                                            <div class="modal-body">
                                                <form action="{% url 'admin_update_employee' employee.id %}" method="post">
                                                    {% csrf_token %}
                                                    <div class="row">
                                                        <!-- Form Fields -->
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label for="Name">First Name</label>
                                                                <input type="text" class="form-control" name="first_name" value="{{ employee.first_name}}">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label for="text">Last Name </label>
                                                                <input type="text" class="form-control" name="last_name" value="{{ employee.last_name}}">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label for="Email">Email</label>
                                                                <input type="Email" class="form-control" name="email" value="{{ employee.email }}">
                                                            </div>
                                                        </div>
                                                    
                                                        <div class="col-sm-12">
                                                            <button type="submit" class="btn btn-primary">Submit</button>
                                                            <button type="reset" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- customer project end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-report" tabindex="-1" aria-labelledby="modalReportLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          
            <div class="modal-body">
                <form action="{% url 'create_main_store_employees' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <!-- Form Fields -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="Name">First Name</label>
                                <input type="text" class="form-control" name="first_name" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="text">Last Name </label>
                                <input type="text" class="form-control" name="last_name" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="Email">Email</label>
                                <input type="Email" class="form-control" id="Email" placeholder="">
                            </div>
                        </div>
                       
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap 5 JS Bundle with Popper -->

{% endblock %}
